<sam-drag-and-drop-grid cdkDropList (cdkDropListDropped)="drop($event)" [items]="list" [columnNumber]="8">
  <div (cdkDropListDropped)="drop($event)" (drop)="drop($event)" (dragMoved)="drop($event)"
    *samDragAndDropListData="let listItem; let i=index">
     <div (cdkDropListDropped)="drop($event)" (drop)="drop($event)" (dragMoved)="drop($event)"
       *ngIf="knightCord.col!=getCord(listItem).col || knightCord.row!=getCord(listItem).row"
       [className]="isBlack(i)? 'black row-container' :'white row-container'"></div>
      <div (cdkDropListDropped)="drop($event)" (dragMoved)="drop($event)" class="knight"
        *ngIf="knightCord.col==getCord(listItem).col && knightCord.row==getCord(listItem).row"> </div>
  </div>
</sam-drag-and-drop-grid>