    <div cdkDropList (cdkDropListDropped)="drop($event)" class="board">
      <!-- <div cdkDropList  (cdkDropListDropped)="drop($event)" 
         class="row-container" *ngFor="let row of boardArray;let rowIndex=index"> -->
         
        <div cdkDrag   attr.id="{{getCord(colIndex).col}},{{getCord(colIndex).row}}"  [className]="isBlack(colIndex)? 'black col-container' :'white col-container'"
          *ngFor="let col of boardArray;let colIndex=index"
               >{{getCord(colIndex).col}},{{getCord(colIndex).row}}        
           <!-- <div cdkDrag *ngIf="knightCord.col==getCord(colIndex).col && knightCord.row==getCord(colIndex).row"  class="knight" > -->
      

        <!-- </div> -->
      </div>

   

    