// .board {
// width: 100%;
// height: 98vh;
// border: 1px solid black;
// display: flex;
// flex-direction: column;
// flex-wrap: nowrap;
// }

.board {
  width: 100%;
  height: 98vh;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.knight {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  background:url(../../assets/images/BlackHourse.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  // display: inline;
  
}


.row-container {

//   /  height: 40px;
//     width: 40px;
// width: 100%;
height: 12.5vh;
display: flex;
width: 12.5% !important;
flex-wrap: nowrap;
position: relative;
// flex-direction: column;
 
}

.col-container {

 width: 12.5%;
//  height: 50px;

}

.black {
    background: black;
    color:white;
}

.white {
  background: white;
  color:black
}