 <!-- <div class="board">
 <div class="list" *ngFor="let list of boardArray;let listIndex=index">
   <div class="drag-container">
     <div class="section-heading"></div> -->

     <!-- <div  cdkDrop  cdkDropList id="{{listIndex}}" [cdkDropListData]="list" [cdkDropListConnectedTo]="connectedTo" -->
       <!-- class="item-list" (cdkDropListDropped)="drop($event)" > -->

       <!-- <div  (cdkDropEntered)="entered($event)" (cdkDragMoved)="onDragOver($event, col, colIndex)" cdkDrag id="{{listIndex}}col{{colIndex}}" -->
         <!-- [className]="knightCord.col==listIndex && knightCord.row==colIndex? 'knight' : isBlack(colIndex,listIndex) ? 'black item-box' :'white item-box'" -->
         <!-- *ngFor="let col of list;let colIndex=index" [style.position]="(knightCord.col==listIndex && knightCord.row==colIndex) ? 'relative' : ''"> --> 
    <!-- <div (cdkDragMoved)="onDragOver($event)" *ngIf="knightCord.col==listIndex && knightCord.row==colIndex"
      class="knight">
    </div> -->

        <!-- </div>
     </div>
   </div>
 </div>
 </div> -->

 <router-outlet></router-outlet>