<h1>Drag&Drop Chess knight</h1>

<div class="example-container" cdkDropListGroup >
  <div  class="inner-container" cdkDropList [cdkDropListEnterPredicate]="enter"
    (cdkDropListDropped)="drop($event)" #placeholder 
>
    </div>
  <div id="{{i}}" class="example-wrapper-box" cdkDropList *ngFor="let item of items;let i=index"
    [cdkDropListEnterPredicate]="enter"
    (cdkDropListDropped)="drop($event)" (CdkDropList)="dragStart($event)">
    <div  cdkDrag
      [className]="isBlack(i)? 'black example-box' :'white example-box'"
    >
     {{i}}
    </div>
        <div 
    
      *ngIf="knightCord.col==getCord(i).col && knightCord.row==getCord(i).row"
      cdkDrag class="knight" >
    </div>
  </div>
</div>